#-------------------------------------------------
#
# Project created by QtCreator 2016-08-28T16:42:34
#
#-------------------------------------------------

QT       -= core gui

QMAKE_CXXFLAGS_RELEASE+=-g
#QMAKE_LFLAGS_RELEASE+=-g
QMAKE_LFLAGS_RELEASE=


TARGET = source
TEMPLATE = lib

CONFIG += staticlib
CONFIG += c++14

QMAKE_CXXFLAGS_RELEASE+=-O3
QMAKE_CXXFLAGS_RELEASE-=-O2
QMAKE_CXXFLAGS_RELEASE-=-O1

QMAKE_CFLAGS_RELEASE+=-O3
QMAKE_CFLAGS_RELEASE-=-O2
QMAKE_CFLAGS_RELEASE-=-O1

DEFINES += SOURCE_LIBRARY

SOURCES += \
    source/SourceMain.cpp

HEADERS +=\
    header/SourceMain.hpp

unix {
    target.path = /usr/lib
    INSTALLS += target
}

win32:CONFIG(release, debug|release): LIBS += -L$$PWD/../common/build-common-Desktop_Qt_5_7_0_GCC_64bit-Debug/release/ -lcommon
else:win32:CONFIG(debug, debug|release): LIBS += -L$$PWD/../common/build-common-Desktop_Qt_5_7_0_GCC_64bit-Debug/debug/ -lcommon
else:unix: LIBS += -L$$PWD/../common/build-common-Desktop_Qt_5_7_0_GCC_64bit-Debug/ -lcommon

INCLUDEPATH += $$PWD/../common
DEPENDPATH += $$PWD/../common

win32-g++:CONFIG(release, debug|release): PRE_TARGETDEPS += $$PWD/../common/build-common-Desktop_Qt_5_7_0_GCC_64bit-Debug/release/libcommon.a
else:win32-g++:CONFIG(debug, debug|release): PRE_TARGETDEPS += $$PWD/../common/build-common-Desktop_Qt_5_7_0_GCC_64bit-Debug/debug/libcommon.a
else:win32:!win32-g++:CONFIG(release, debug|release): PRE_TARGETDEPS += $$PWD/../common/build-common-Desktop_Qt_5_7_0_GCC_64bit-Debug/release/common.lib
else:win32:!win32-g++:CONFIG(debug, debug|release): PRE_TARGETDEPS += $$PWD/../common/build-common-Desktop_Qt_5_7_0_GCC_64bit-Debug/debug/common.lib
else:unix: PRE_TARGETDEPS += $$PWD/../common/build-common-Desktop_Qt_5_7_0_GCC_64bit-Debug/libcommon.a

unix:!macx: LIBS += -L$$PWD/../cep_profiler/build-cep_profiler-Desktop_Qt_5_7_0_GCC_64bit-Debug/ -lcep_profiler

INCLUDEPATH += $$PWD/../cep_profiler/
DEPENDPATH += $$PWD/../cep_profiler/

unix:!macx: PRE_TARGETDEPS += $$PWD/../cep_profiler/build-cep_profiler-Desktop_Qt_5_7_0_GCC_64bit-Debug/libcep_profiler.a
